/* tailwind import css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* efecto color argentina para el titulo itinerary */
@layer utilities {
  .text-gradient-argentina {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      to right,
      #75aadb,
      #ddd,
      #ffd100,
      #ddd,
      #75aadb
    );
    -webkit-text-fill-color: transparent;
  }
}

/* color no tan saturado para hacer de noche el fondo  */

.multi_bg_example {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(30, 75, 115, 1),
    rgba(255, 255, 255, 0)
  );
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right;
  background: -moz-linear-gradient(
      to right,
      rgba(30, 75, 115, 1),
      rgba(255, 255, 255, 0)
    ),
    -webkit-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)),
    -ms-linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0)),
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(255, 255, 255, 0));
}

/* color saturado para quitar fondo 2 */

.multi_bg_example2 {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba(30, 75, 115, 1),
    rgba(30, 75, 115, 1)
  );
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right;
  background: -moz-linear-gradient(
      to right,
      rgba(30, 75, 115, 1),
      rgba(30, 75, 115, 1)
    ),
    -webkit-gradient(to right, rgba(30, 75, 115, 1), rgba(30, 75, 115, 1)),
    -ms-linear-gradient(to right, rgba(30, 75, 115, 1), rgba(30, 75, 115, 1)),
    linear-gradient(to right, rgba(30, 75, 115, 1), rgba(30, 75, 115, 1));
}

/* fondo de body imagen */

body {
  background-image: url("https://i.im.ge/2022/08/31/OE8vA4.peritoMorenoCalafate.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}


