@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .text-gradient-argentina {
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(
      to right,
      #ffffff,
      #ffffff,
      #ffd100,
      #ffffff,
      #75aadb
    );
    -webkit-text-fill-color: transparent;
  }
}
